=form_for([:admin, @service]) do |f|
	=f.label 'Наименование услуги'
	=f.text_field :title
	%br
	=f.label 'Описание услуги'
	=f.text_area :description
	%br
	=f.fields_for :servicepic, Servicepic.new, html: { multipart: true, id: "fileupload"  } do |op|
		= op.label 'Загрузите фотографии услуги'
		= op.file_field :servicepic, multiple: true, id: 'fileupload', name: "service[servicepics_attributes][][servicepic]"
	%br
	=f.submit id: 'submit-data'