%h1 Admin::Dashboard
%p Контролируйте все в вашем приложении!
-if user_signed_in?
	Вы зашли под пользователем:
	=current_user
-else
	=link_to 'Зайти', new_user_session_path

%p.notice
	=notice
%p.alert
	=alert

%p 
	Все проекты:
	%br
	-@projects.each do |project|
		=link_to project.title, edit_admin_project_path(project.id)
		%br
	%p 
		=link_to 'Создать новый проект', new_admin_project_path

%p
	Все услуги:
	%br
	-@services.each do |srvs|
		=link_to srvs.title, edit_admin_service_path(srvs.id)
	%p
		=link_to 'Создать новую услугу', new_admin_service_path

%p 
	Сотрудники
	%br
	-@teammembers.each do |member|
		=link_to member.name, edit_admin_teammember_path(member.id)
	%p
		=link_to 'Создать нового сотрудника', new_admin_teammember_path
