/ dashboard tiles
.row
	.col-sm-4.col-xl-3
		.panel.panel-tile.text-center.br-a.br-grey
			.panel-body
				%h1.fs30.mt5.mbn
					=@projects.count
				%h6.text-system ПРОЕКТОВ
			.panel-footer.br-t.p12
				%span.fs11
					%i.fa.fa-arrow-up.pr5
					="#{@recentProjects} СОЗДАНО"
					%b НЕДЕЛЮ НАЗАД
	.col-sm-4.col-xl-3
		.panel.panel-tile.text-center.br-a.br-grey
			.panel-body
				%h1.fs30.mt5.mbn
					=@services.count
				%h6.text-success УСЛУГ
			.panel-footer.br-t.p12
				%span.fs11
					%i.fa.fa-arrow-up.pr5
					="#{@recentServices} СОЗДАНО"
					%b НЕДЕЛЮ НАЗАД
	.col-sm-4.col-xl-3
		.panel.panel-tile.text-center.br-a.br-grey
			.panel-body
				%h1.fs30.mt5.mbn
					=@teammembers.count
				%h6.text-warning СОТРУДНИКОВ
			.panel-footer.br-t.p12
				%span.fs11
					%i.fa.fa-arrow-up.pr5.text-success
					="#{@recentTeammembers} СОЗДАНО"
					%b НЕДЕЛЮ НАЗАД
	.col-sm-3.col-xl-3.visible-xl
		.panel.panel-tile.text-center.br-a.br-grey
			.panel-body
				%h1.fs30.mt5.mbn 6,718
				%h6.text-danger UNIQUE VISITS
			.panel-footer.br-t.p12
				%span.fs11
					%i.fa.fa-arrow-down.pr5.text-danger
					6% DECREASE
					%b 1W AGO