=form_for([:admin, @product]) do |f|
	%p
		=f.label 'Наименование товара'
		=f.text_field :name
	%p
		=f.label 'Вступительный текст'
		=f.text_area :intro_text
	%p
		=f.label 'Описание товара'
		=f.text_area :description
	%p
		=f.label 'Артикул (если оставить пустым будет браться просто ID товара'
		=f.number_field :sku
	%p
		=f.submit 'Сохранить'
