.main-header.background.background-image-heading-product
  .container
    %h1 Product
#breadcrumb
  .container
    %ol.breadcrumb
      %li
        %a{:href => "#"} Home
      %li.active
        %span Product
.container
  .row
    .col-md-6
      .product-slider-wrapper.thumbs-bottom
        .swiper-container.product-slider-main
          .swiper-wrapper
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
            .swiper-slide
              .easyzoom.easyzoom--overlay
                %a{:href => "./img/samples/products/product/large/product-1.jpg", :title => ""}
                  %img{:alt => "", :src => "./img/samples/products/product/large/product-1.jpg"}
          .swiper-button-prev
            %i.fa.fa-chevron-left
          .swiper-button-next
            %i.fa.fa-chevron-right
        / /.swiper-container
        .swiper-container.product-slider-thumbs
          .swiper-wrapper
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-1.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-2.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-3.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-4.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-1.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-2.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-3.jpg"}
            .swiper-slide
              %img{:alt => "", :src => "./img/samples/products/product/tiny/thumb-4.jpg"}
        / /.swiper-container
      / /.product-slider-wrapper
    .col-md-6
      %nav.pnav
        .pull-right
          %a.btn.btn-sm.btn-arrow.btn-default{:href => "#"}
            %i.fa.fa-chevron-left
          %a.btn.btn-sm.btn-arrow.btn-default{:href => "#"}
            %i.fa.fa-chevron-right
        %a.back-to-pcate{:href => "#"}
          %i.fa.fa-chevron-left
          %span Back to Portfolio
      / /header
      .product-details-wrapper
        %h2.product-name
          %a{:href => "#", :title => " Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
        / /.product-name
        .product-status
          %span In Stock
          %span -
          %small SKU: 12345678
        / /.product-status
        .product-stars
          %span.rating
            %span.star
            %span.star
            %span.star
            %span
            %span
        / /.product-stars
        .product-description
          %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        / /.product-description
        .product-features
          %h3 Special Features:
          %ul
            %li 1914 translation by H. Rackham
            %li The standard Lorem Ipsum passage, used since the 1500s
            %li Section 1.10.33 of "de Finibus Bonorum et Malorum
        / /.product-features
        .product-actions-wrapper
          %form{:action => "product-quick-view.html", :method => "POST"}
            .row
              .col-md-4
                .form-group
                  %label{:for => "p_color"} Color
                  %select#p_color.form-control{:name => "p_color"}
                    %option{:value => ""} Blue
              .col-md-4
                .form-group
                  %label{:for => "p_size"} Size
                  %select#p_size.form-control{:name => "p_size"}
                    %option{:value => ""} XL
              .col-md-3
                .form-group
                  %label{:for => "p_qty"} Qty
                  %select#p_qty.form-control{:name => "p_qty"}
                    %option{:value => ""} 1
                    %option{:value => ""} 2
                    %option{:value => ""} 3
          / /.form
          .product-list-actions
            %span.product-price
              %span.amount $60
              %del.amount $120
            / /.product-price
            %button.btn.btn-lg.btn-primary Add to cart
          / /.product-list-actions
        / /.product-actions-wrapper
        .product-meta
          %span.product-category
            %span Category:
            %a{:href => "#", :title => ""} Outerwear
          %span -
          %span.product-tags
            %span Tags:
            %a{:href => "#", :title => ""} Jacket
        / /.product-meta
      / /.product-details-wrapper
  .product-socials
    %ul.list-socials
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
          %i.icon.icon-twitter
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
          %i.icon.icon-facebook
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Dot-Dot"}
          %i.icon.icon-dot-dot
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Google+"}
          %i.icon.icon-google-plus
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Pinterest"}
          %i.icon.icon-pinterest
  / /.product-socials
  .product-details-left
    .product-details{:role => "tabpanel"}
      %nav
        %ul.nav{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#product-description"} Description
          %li{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#product-infomation"} Additional Infomation
          %li{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#product-review"}
              Review
              %span (2)
        / /.nav
      / /nav
      .tab-content
        #product-description.tab-pane.active{:role => "tabpanel"}
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          %p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        / /.tab-pane
        #product-infomation.tab-pane{:role => "tabpanel"}
          %ul
            %li
              %span Weight
              %span.value 8.6kg
            %li
              %span Color
              %span.value Yellow, Brown
            %li
              %span Size
              %span.value S, M, L, XL, XXL
            %li
              %span Material
              %span.value Nylon, Coton
        / /.tab-pane
        #product-review.tab-pane{:role => "tabpanel"}
          %h3
            Review
            %span (2)
          %ol.product-review-list
            %li
              %h4.review-title Goodale Rutledge Navy/White
              .rating.small
                %span.star
                %span.star
                %span.star
                %span.star
                %span.star
              .review-comment
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .review-meta
                %span Posted by
                %a.author{:href => "#"} Join Doe
                %span -
                %span February 17, 2015
            %li
              %h4.review-title The standard Lorem Ipsum passage, used since the 1500s
              .rating.small
                %span.star
                %span.star
                %span.star
                %span.star
                %span.star
              .review-comment
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .review-meta
                %span Posted by
                %a.author{:href => "#"} Join Doe
                %span -
                %span February 17, 2015
          / /.product-review-list
          %h3 Add a review
          %form{:action => "product-fullwidth.html", :method => "POST"}
            .row
              .col-md-6
                .form-group
                  %label{:for => "reply-name"}
                    Name
                    %sup *
                  %input#reply-name.form-control{:placeholder => "Name", :type => "text"}
                / /.form-group
              .col-md-6
                .form-group
                  %label{:for => "reply-email"}
                    Email
                    %sup *
                  %input#reply-email.form-control{:placeholder => "Email", :type => "email"}
                / /.form-group
            .form-group
              %label{:for => "reply-title"}
                Title
                %sup *
              %input#reply-title.form-control{:placeholder => "title", :type => "text"}
            / /.form-group
            .form-group
              %label{:for => "reply-text"}
                Your review
                %sup *
              %textarea#reply-text.form-control{:name => "reply-text", :placeholder => "Your review", :rows => "7"}
            / /.form-group
            .form-submit.clearfix
              .review-rating
                %span.title Your rating:
                %span.rating.small.live
                  %span
                  %span
                  %span
                  %span
                  %span
              .pull-right
                %button.submit.btn.btn-lg.btn-default{:type => "submit"} Submit
            / /.form-submit
          / /form
        / /.tab-pane
      / /.tab-pane
    / /.tab-content
  / /.product-details-left
  .relared-products
    .relared-products-header.margin-bottom-50
      %h3.upper Related Products
    .products.owl-carousel{"data-items" => "4"}
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/1.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
          %span.product-label.hot
            %span hot
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Jackets
          / /.product-category
          .product-price
            %span.amount $246
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/2.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Short
          / /.product-category
          .product-price
            %span.amount $60
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/3.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
          %span.product-label.sale
            %span sale
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Jackets
          / /.product-category
          .product-price
            %span.amount $120
            %del.amount $320
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/4.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
          %span.product-label.hot
            %span hot
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Shocks
          / /.product-category
          .product-price
            %span.amount $12
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/5.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
          %span.product-label.new
            %span new
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Jackets
          / /.product-category
          .product-price
            %span.amount $145
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/6.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Shirts
          / /.product-category
          .product-price
            %span.amount $50
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/7.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Shirts
          / /.product-category
          .product-price
            %span.amount $125
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/8.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Jackets
          / /.product-category
          .product-price
            %span.amount $360
          / /.product-price
        / /.product-body
      / /.product
      .product.product-grid
        .product-media
          .product-thumbnail
            %a{:href => "product-fullwidth.html", :title => ""}
              %img.current{:alt => "", :src => "./img/samples/products/grid/9.jpg"}
                %img{:alt => "", :src => "./img/samples/products/index/clothing/2.jpg"}
          / /.product-thumbnail
          .product-hover
            .product-actions
              %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                %i.icon.icon-shopping-bag
              %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                %i.icon.icon-star
              %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                %i.icon.icon-eye
          / /.product-hover
        / /.product-media
        .product-body
          %h2.product-name
            %a{:href => "#", :title => "Gin Lane Greenport Cotton Shirt"} Gin Lane Greenport Cotton Shirt
          / /.product-product
          .product-category
            %span Shirts
          / /.product-category
          .product-price
            %span.amount $125
          / /.product-price
        / /.product-body
      / /.product
  / /.relared-products
:javascript
  $(function() { aweProductRender(true); });
%footer.footer
  .footer-wrapper
    .footer-widgets
      .container
        .row
          .col-md-4
            .row
              .col-md-12.col-sm-6
                .widget
                  %h3.widget-title ABOUT HOSOREN
                  .widget-content
                    %p Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese.
              .col-md-12.col-sm-6
                .widget
                  %h3.widget-title WE CAN HELP YOU?
                  .widget-content
                    %p Phone 1: 8 (495) 989—20—11
                    %p Phone 2: 8 (800) 875—05—26
                    %p Open - Close: 09:00-21:00
                    %p Mail: hosoren@gmail.com
                / /.widget
          .col-md-2.col-sm-6
            .widget
              %h3.widget-title Shopping
              %ul
                %li
                  %a{:href => "#", :title => ""} Your Cart
                %li
                  %a{:href => "#", :title => ""} Your Orders
                %li
                  %a{:href => "#", :title => ""} Compared Items
                %li
                  %a{:href => "#", :title => ""} Wishlist Items
                %li
                  %a{:href => "#", :title => ""} Shipping Detail
            / /.widget
          .col-md-2.col-sm-6
            .widget
              %h3.widget-title MORE LINK
              %ul
                %li
                  %a{:href => "#", :title => ""} Blog
                %li
                  %a{:href => "#", :title => ""} Gift Center
                %li
                  %a{:href => "#", :title => ""} Buying Guides
                %li
                  %a{:href => "#", :title => ""} New Arrivals
                %li
                  %a{:href => "#", :title => ""} Clearance
            / /.widget
          .col-md-4
            .widget
              %h3.widget-title Are You Like Me
              %ul.list-socials
                %li
                  %a{:href => "#", :title => ""}
                    %i.icon.icon-twitter
                %li
                  %a{:href => "#", :title => ""}
                    %i.icon.icon-facebook
                %li
                  %a{:href => "#", :title => ""}
                    %i.icon.icon-google-plus
                %li
                  %a{:href => "#", :title => ""}
                    %i.icon.icon-pinterest
            .widget
              %h3.widget-title PAYMENT ACCEPT
              %ul.list-socials
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-paypal
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-visa
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-amex
            / /.widget
