=form_for([:admin, @project]) do |f|
	.panel.mb25.mt5
		.panel-heading
			%span.panel-title.hidden-xs
				=verb.capitalize
				проекта
			%ul.nav.panel-tabs-border.panel-tabs
				%li.active
					%a{"data-toggle" => "tab", :href => "#tab1_1"} Общее
		.panel-body.p20.pb10
			.tab-content.pn.br-n.admin-form
				#tab1_1.tab-pane.active
					.section.row.mbn
						.col-md-4
							.fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
								.fileupload-preview.thumbnail.mb20
									=holder_tag '222x140'
								.row
									.col-xs-12.pr5
										=f.fields_for :projectphoto, Projectphoto.new, html: { multipart: true, id: "fileupload"	} do |op|
											= op.file_field :image, multiple: true, id: 'fileupload', name: "project[projectphotos_attributes][][image]", class: 'button btn-system btn-file btn-block'
						.col-md-8.pl15
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :title, id: 'name2', class: 'event-name gui-input br-light light', placeholder: 'Введите название'
									%label.field-icon{:for => "name2"}
										%i.fa.fa-tag
							.section.mb10
								%label.field.prepend-icon
									=f.text_area :description, id: 'comment', class: 'gui-textarea br-light bg-light', placeholder: 'Описание проекта', style: 'height: 160px'
									%label.field-icon{:for => "comment"}
										%i.fa.fa-comments
							.section.mb10
								%label.field.option.mt10
									%em.small-text.text-muted Выберите сотрудников, учавстоваших в проекте
									=collection_check_boxes(:project, :teammember_ids, Teammember.all, :id, :name) do |b|
										%br
										=b.label(:"data-value" => b.value) { b.check_box + " - " + b.text }
					%hr.short.alt
						.section.row.mbn
							.col-sm-8
							.col-sm-4
								%p.text-right
									=f.submit 'Сохранить проект', class: 'btn btn-primary', id: 'submit-data'