%body.external-page.external-alt.sb-l-c.sb-r-c
  / Start: Main
  #main.animated.fadeIn
    / Start: Content-Wrapper
    %section#content_wrapper
      / Begin: Content
      %section#content
        #login.admin-form.theme-info.mw500
          / Login Logo
          .row.table-layout
            Y.CMS
          / Login Panel/Form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .panel.mt30.mb25
              %form#contact{:action => "/", :method => "post"}
                .panel-body.bg-light.p25.pb15
                  / Username Input
                  .section
                    %label.field-label.text-muted.fs18.mb10{:for => "username"} Почта
                    %label.field.prepend-icon{:for => "username"}
                      =f.email_field :email, autofocus: true, id: 'username', class: 'gui-input'
                      %label.field-icon{:for => "username"}
                        %span.fa.fa-user
                  / Password Input
                  .section
                    %label.field-label.text-muted.fs18.mb10{:for => "username"} Пароль
                    %label.field.prepend-icon{:for => "password"}
                      =f.password_field :password, autocomplete: "off", id: 'password', class: 'gui-input'
                      %label.field-icon{:for => "password"}
                        %i.fa.fa-lock
                .panel-footer.clearfix
                  =f.submit 'Войти', class: 'button btn-primary mr10 pull-right'
                  -if devise_mapping.rememberable?
                    %label.switch.ib.switch-primary.mt10
                      =f.check_box :remember_me do
                        %label{"data-off" => "NO", "data-on" => "YES", :for => "remember"}
                        %span Запомнить
            / Registration Links
            .login-links
              %p
                = render "devise/shared/links"
            / Registration Links(alt)
            .login-links.hidden
              %a.active{:href => "pages_login-alt.html", :title => "Sign In"} Sign In
              |
              %a{:href => "pages_register-alt.html", :title => "Register"} Register
