=form_for([:admin, @teammember]) do |f|
	.panel.mb25.mt5
		.panel-heading
			%span.panel-title.hidden-xs
				=verb.capitalize
				сотрудника
			%ul.nav.panel-tabs-border.panel-tabs
				%li.active
					%a{"data-toggle" => "tab", :href => "#tab1_1"} Общее
		.panel-body.p20.pb10
			.tab-content.pn.br-n.admin-form
				#tab1_1.tab-pane.active
					.section.row.mbn
						.col-md-4
							.fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
								.fileupload-preview.thumbnail.mb20
									=holder_tag '222x140'
								.row
									.col-xs-12.pr5
										=f.fields_for :avatar, Avatar.new, html: { multipart: true, id: "fileupload"	} do |op|
											= op.file_field :avatar, multiple: true, id: 'fileupload', name: "teammember[avatars_attributes][][avatar]", class: 'button btn-system btn-file btn-block'
						.col-md-8.pl15
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :name, id: 'name2', class: 'event-name gui-input br-light light', placeholder: 'Введите название'
									%label.field-icon{:for => "name2"}
										%i.fa.fa-tag
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :position, id: 'comment', class: 'gui-input br-light bg-light', placeholder: 'Должность сотрудника'
									%label.field-icon{:for => "comment"}
										%i.fa.fa-comments
							.section.mb10
								%label.field.prepend-icon
									=f.date_field :workstart, id: 'comment', class: 'gui-input br-light bg-light', placeholder: 'Дата выхода на работу'
									%label.field-icon{:for => "comment"}
										%i.fa.fa-calendar
					%hr.short.alt
						.section.row.mbn
							.col-sm-8
							.col-sm-4
								%p.text-right
									=f.submit 'Сохранить сотрудника', class: 'btn btn-primary', id: 'submit-data'