=form_for([:admin, @teammember]) do |f|
	=f.label 'Имя сотрудника'
	=f.text_field :name
	%br
	=f.label 'Должность сотрудника'
	=f.text_field :position
	%br
	=f.label 'Дата выхода сотруника на работу'
	=f.date_field :workstart
	%br
	=f.fields_for :avatar, Avatar.new, html: { multipart: true, id: "fileupload"  } do |op|
		= op.label 'Загрузите фотографии сотрудника'
		= op.file_field :avatar, multiple: true, id: 'fileupload', name: "teammember[avatars_attributes][][avatar]"
	%br
	=f.submit id: 'submit-data'