/ menu-top ends here
%main.cd-main
	%section.cd-section.index.visible
		/ content-block starts here
		.content-block.light
			.container
				.panel-top
					.left.pull-left
						%a#menu-top-link.menu-top-link Menu
					.logo.pull-left.text-center
						=link_to root_path, title: "ArtLand Studio" do
							=image_tag 'front/logo.svg', alt: "ArtLand Studio", width: 48
					.phone.pull-right.text-right
						%a{:href => "callto:+74952874787"} +7 495 287-47-87
				#home.content
					.flexslider.flex-slider
						%ul#projects.projects.slides
							=@projects.each do |project|
								%li
									.image.grayscale
										=image_tag project.projectphotos.first.image
										
									.right
										.middle
											.title
												=link_to project.title, '#'
										.helper
									.left
										.middle
											.text-short
												%p
													%strong
														=truncate(project.desctitle, length: 40)
												%p 
													=truncate(project.description, length: 120)
											.read-more
												%a{:href => "projects-detail.html"} Подробнее
										.helper
		/ content-block ends here
.container
	%nav.cd-side-navigation
		%ul.nav
			%li
				.item
					%a{"data-menu" => "index", "data-num" => "1", :href => "#"}
						%span.number 01
						%span.line
						%span.title Работы
			%li
				.item
					%a{"data-menu" => "services", "data-num" => "2", :href => "#"}
						%span.number 02
						%span.line.half
						%span.title Услуги
			%li
				.item
					%a{"data-menu" => "teams", "data-num" => "3", :href => "#"}
						%span.number 03
						%span.line.half
						%span.title Команда
			%li
				.item
					%a{"data-menu" => "contacts", "data-num" => "4", :href => "#"}
						%span.number 04
						%span.line.half
						%span.title Контакты
#cd-loading-bar.index{"data-scale" => "1"}