#menu-top.menu-top
  .container
    .menu-wrap
      .row
        .column.col-md-3
          %ul.projects.underline
            %li
              %a{:href => "#"} Last project name, or long last project name and may be a little bit more
              .group Design
            %li
              %a{:href => "#"} Last project name, or long last project name
              .group Development
            %li
              %a{:href => "#"} Last project name, or long last project name and may.
              .group Design
            %li
              %a{:href => "#"} Last project name
              .group Consultation
            %li
              %a{:href => "#"} Last project name, or long last project name
              .group Development
            %li
              %a{:href => "#"} Last project name, or long last project name and may.
              .group Design
            %li
              %a{:href => "#"} Last project name, or long last project name
              .group Development
        .column.col-md-3
          %ul.menu.underline
            %li
              %a{:href => "#"} Designing
            %li
              %a{:href => "#"} Building
            %li
              %a{:href => "#"} Consultation
            %li
              %a{:href => "#"} Managment
          .copy
            %p Copyright &copy; 2015 Artland Studio
          .development
            %p Разработка сайта:
        .column.col-md-3
          %ul.team.underline
            %li
              %a{:href => "#"} Антон Константинович Бережнов
              .info
                %span.profession Designer
                %span.works 28 работ
            %li
              %a{:href => "#"} Владимир Ряженокиновенов
              .info
                %span.profession Developer
                %span.works 16 работ
            %li
              %a{:href => "#"} Сергей Брюсель
              .info
                %span.profession Designer
                %span.works 28 работ
            %li
              %a{:href => "#"} Владимир Ряженокиновенов
              .info
                %span.profession Developer
                %span.works 16 работ
            %li
              %a{:href => "#"} Сергей Брюсель
              .info
                %span.profession Designer
                %span.works 28 работ
            %li
              %a{:href => "#"} Владимир Ряженокиновенов
              .info
                %span.profession Developer
                %span.works 16 работ
            %li
              %a{:href => "#"} Сергей Брюсель
              .info
                %span.profession Designer
                %span.works 28 работ
        .column.col-md-3
          .address
            %p
              %strong Адрес
            %p Ленинский пр-т, дом1, этаж 14, офис 1413 (проезд от метро &laquo;Октябрьская&raquo;).
            %p &nbsp;
            %p
              %strong Режим работы офиса
            %p По будням с 10.30 до 19.00 без обеденного перерыва
            %p &nbsp;
            %p
              Суббота, воскресенье
              %br - выходные дни.
          .phone
            %p
              %a{:href => "callto:+74951126327"} +7 495 112-63-27
            %p
              %a{:href => "callto:+74953621547"} +7 495 362-15-47
            %p
              %a{:href => "callto:+74951512575"} +7 495 151-25-75
          .emails
            %p
              %a{:href => "mailto:support@artlands.ru"} support@artlands.ru
            %p
              %a{:href => "mailto:info@artlands.ru"} info@artlands.ru
          #map-mini
            %img{:alt => "", :src => "img/map-mini.jpg"}
      .clearfix
      %ul.nav
        %li
          .item
            %a{:href => "#"}
              %span.number 01
              %span.line
              %span.title Работы
        %li
          .item
            %a{:href => "#"}
              %span.number 02
              %span.line.half
              %span.title Услуги
        %li
          .item
            %a{:href => "#"}
              %span.number 03
              %span.line.half
              %span.title Команда
        %li
          .item
            %a{:href => "#"}
              %span.number 04
              %span.line.half
              %span.title Контакты
    #close-menu-top.close-menu Закрыть