!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title FurnitureApp
		= stylesheet_link_tag	'front'
		= javascript_include_tag 'front'
		= csrf_meta_tags
	%body
		=render 'layouts/front/menu'
		=yield
